.card {
    width: 85%;
    background-color: #201335;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 25px;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-title {
    color: #ffb17a;
    margin-bottom: 10px;
    font-size: 35px;
}

.card-subtitle {
    color: #4f4789;
    font-style: italic;
    font-size: 25px;
}

.card-text {
    margin-top: 10px;
    color: #fffded;
    padding: auto;
}

