.card {
    width: 75%;
    background-color: #998888;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* .card img {
    max-width: 75%;
} */