.card {
    width: 85%;
    background-color: #201335;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 25px;

    transition: 0.5s;
    opacity: 0;
    transform: translateY(50px);
}

.in-view {
    opacity: 1;
    transform: translateY(0px);
}

#bio {
    margin-top: 75px;
    margin-bottom: 75px;
}

#pfp {
    max-width: 60%;
    border-radius: 50%;
}

.card-title {
    color: #fce762;
    margin-bottom: 10px;
    font-size: 35px;
}

.card-subtitle {
    color: #4f4789;
    font-style: italic;
    font-size: 25px;
}

.card-text {
    margin-top: 10px;
    color: #fffded;
    padding: auto;
}