img {
    width: 100px;
}

.popout-icon {
    transition: 0.3s;
}

.popout-icon:hover {
    transform: scale(1.25);
}

/*
HELPFUL LINKS:
https://www.w3schools.com/cssref/css_selectors.php
https://stackoverflow.com/questions/4502633/how-to-affect-other-elements-when-one-element-is-hovered
*/
.reveal-icon {
    transform: translateY(12px);
    transition: 0.3s;
}

p {
    margin: 0px;
    opacity: 0;
    transition: 0.3s;
}

.reveal-icon:hover {
    transform: translateY(0px);
}

.reveal-icon:hover + p {
    opacity: 1;
}

