body {
    text-align: center;
}

div, nav {
    /* margin: auto; */
    /* display: inline-block; */
    width: 100%;
    /* color: pink; */
}

img {
    margin: 20px;
    width: 300px;
}