{% extends 'main.html' %}

{% block content %}
<h1 class="title imp-text">ABOUT ME</h1>

<!-- Bio section -->
<div class="container" id="bio">
    <div class="row">
        <div class="col-lg-6 col-12 d-flex align-items-center justify-content-center bio-sec">
            <img src="/static/img/talike7.jpg" alt="talike" class="img-fluid" id="bio-pic">
        </div>
        <div class="col-lg-6 col-12 text-start d-flex align-items-center bio-sec">
            <p class="dark-text" id="bio-desc">
                Hello! My name is Talike (pronounced tah-leek), and I am working towards being a full-stack software 
                engineer. I have dreamed of being a video game developer for years now, but I have decided to work more 
                towards creating software for both mobile devices and computers. I have experience with a handful of 
                programming languages including C++ and Python. I hope to use these languages (as well as the ones I will 
                learn in the future) and my problem-solving skills to create and/or improve software that users will find 
                efficient, visually appealing, and — if applicable — entertaining to engage with.
            </p> 
            <script>
                // Apply appropriate class to description on page load
                if(sessionStorage.mode == "light") document.getElementById("bio-desc").classList.replace("light-text", "dark-text");
                else document.getElementById("bio-desc").classList.replace("dark-text", "light-text");
            </script>
        </div>
    </div>
</div>

<div class="container">
    <!-- Education section -->
    <div class="card semi-dark-cont">
        <div class="row">
            <div class="col-md-6 col-12 d-flex align-items-center">
                <div class="card-body">
                    <a class="school-link" href="https://www.basehighschool.org/" target="_blank">
                        <h2 class="card-title imp-text">Brooklyn Academy of Science and the Environment</h2>
                    </a>
                    <h3 class="card-subtitle light-text">High School</h3>
                    <h3 class="card-subtitle light-text">September 2016 - June 2020</h3>
                </div>
            </div>
            <div class="col-md-6 col-12 d-flex align-items-center">
                <div class="card-body">
                    <a class="school-link" href="https://www.ccny.cuny.edu/" target="_blank">
                        <h2 class="card-title imp-text">The City College of New York</h2>
                    </a>
                    <h3 class="card-subtitle light-text">College</h3>
                    <h3 class="card-subtitle light-text">August 2022 - Present</h3>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Experience 1 -->
    <div class="card semi-dark-cont">
        <div class="card-body">
            <h2 class="card-title imp-text">Desktop Support College Assistant</h2>
            <h3 class="card-subtitle light-text">The City College of New York</h3>
            <h3 class="card-subtitle light-text">September 2022 - Present</h3>
            <ul class="card-text light-text">
                <li>
                    Working in a team of seven to provide digital solutions to clients in the Marshak and CDI buildings
                </li>
                <li>
                    Maintaining select Windows, Linux, and MacOS systems across campus by installing/updating useful software, 
                    setting up desktops, and imaging computers whenever necessary
                </li>
            </ul>
        </div>
    </div>

    <!-- Experience 2 -->
    <div class="card semi-dark-cont">
        <div class="card-body">
            <h2 class="card-title imp-text">Scholarship Recipient / Alumni</h2>
            <h3 class="card-subtitle light-text">Publicolor</h3>
            <h3 class="card-subtitle light-text">August 2020 - Present</h3>
            <ul class="card-text light-text">
                <li>
                    Receiving gap scholarship towards college tuition
                </li>
                <li>
                    Occasionally traveling to sites around New York City to help current Publicolor students paint their schools
                </li>
            </ul>
        </div>
    </div>

    <!-- Experience 3 -->
    <div class="card semi-dark-cont">
        <div class="card-body">
            <h2 class="card-title imp-text">Web Developer</h2>
            <h3 class="card-subtitle light-text">Carella</h3>
            <h3 class="card-subtitle light-text">October 2022 - November 2022</h3>
            <ul class="card-text light-text">
                <li>
                    Used Webflow to develop the website for the organization
                </li>
            </ul>
        </div>
    </div>

    <!-- Experience 4 -->
    <div class="card semi-dark-cont">
        <div class="card-body">
            <h2 class="card-title imp-text">Teaching Assistant</h2>
            <h3 class="card-subtitle light-text">Upperline Code</h3>
            <h3 class="card-subtitle light-text">August 2022</h3>
            <ul class="card-text light-text">
                <li>
                    Assisted Upperline Code teachers with a web development course centered around HTML, CSS, and JavaScript to 
                    ensure that the students could build their own functional websites
                </li>
                <li>
                    Met with other teachers and teaching assistants daily to discuss teaching experiences and ways to improve
                </li>
            </ul>
        </div>
    </div>

    <!-- Experience 5 -->
    <div class="card semi-dark-cont">
        <div class="card-body">
            <h2 class="card-title imp-text">Production Engineering Fellow</h2>
            <h3 class="card-subtitle light-text">MLH Fellowship</h3>
            <h3 class="card-subtitle light-text">May 2022 - August 2022</h3>
            <ul class="card-text light-text">
                <li>
                    Completed 12 weeks of structured curriculum-based learning covering core Meta Production Engineering topics, 
                    supplemented with events and workshops led by industry experts
                </li>
                <li>
                    Created an open-source personal portfolio website using Python, Flask, Jinja, MySQL, and NGINX
                </li>
                <li>
                    Automated testing and deployment workflows using CI/CD
                </li>
                <li>
                    Set up system and container monitoring, alerting, and visualization using Prometheus and Grafana
                </li>
            </ul>
        </div>
    </div>

    <!-- Experience 6 -->
    <div class="card semi-dark-cont">
        <div class="card-body">
            <h2 class="card-title imp-text">Intern</h2>
            <h3 class="card-subtitle light-text">UNICC</h3>
            <h3 class="card-subtitle light-text">January 2022</h3>
            <ul class="card-text light-text">
                <li>
                    Conducted and presented extensive research in order to learn more about the organization and its global impact
                </li>
                <li>
                    Analyzed demographic trends with 3 team members by designing compelling infographics using Canva
                </li>
                <li>
                    Composed an annual report with a team member by interviewing cybersecurity staff and making use of Microsoft 
                    Office products in order to depict the changes in services provided by the UNICC
                </li>
            </ul>
        </div>
    </div>

    <!-- Experience 7 -->
    <div class="card semi-dark-cont">
        <div class="card-body">
            <h2 class="card-title imp-text">Sprintern</h2>
            <h3 class="card-subtitle light-text">Break Through Tech</h3>
            <h3 class="card-subtitle light-text">October 2021 - January 2022</h3>
            <ul class="card-text light-text">
                <li>
                    Attended professional development workshops, including internship prep and resume building
                </li>
                <li>
                    Matched with the United Nations International Computing Centre (UNICC) to work with the organization for 3 
                    weeks in January 2022
                </li>
            </ul>
        </div>
    </div>

    <!-- Experience 8 -->
    <div class="card semi-dark-cont">
        <div class="card-body">
            <h2 class="card-title imp-text">City Seasonal Aide</h2>
            <h3 class="card-subtitle light-text">NYC Department of Parks & Recreation</h3>
            <h3 class="card-subtitle light-text">June 2021 - August 2021</h3>
            <ul class="card-text light-text">
                <li>
                    Cooperated with a crew of 3-5 workers to clean select parks in Queens, NY
                </li>
            </ul>
        </div>
    </div>

    <!-- Experience 9 -->
    <div class="card semi-dark-cont">
        <div class="card-body">
            <h2 class="card-title imp-text">Summer Design Studio Student</h2>
            <h3 class="card-subtitle light-text">Publicolor</h3>
            <h3 class="card-subtitle light-text">July 2020 - August 2020</h3>
            <ul class="card-text light-text">
                <li>
                    Designed compelling projects with a team of Publicolor students using Gravit and graphic design concepts
                </li>
            </ul>
        </div>
    </div>

    <!-- Experience 10 -->
    <div class="card semi-dark-cont">
        <div class="card-body">
            <h2 class="card-title imp-text">Next Steps Student</h2>
            <h3 class="card-subtitle light-text">Publicolor</h3>
            <h3 class="card-subtitle light-text">October 2019 - June 2020</h3>
            <ul class="card-text light-text">
                <li>
                    Spent the weekends painting schools in Brooklyn, Manhattan, and Queens with other Publicolor students
                </li>
                <li>
                    Attended college and career preparation workshops
                </li>
            </ul>
        </div>
    </div>

    <!-- Experience 11 -->
    <div class="card semi-dark-cont">
        <div class="card-body">
            <h2 class="card-title imp-text">Paint Club Student</h2>
            <h3 class="card-subtitle light-text">Publicolor</h3>
            <h3 class="card-subtitle light-text">April 2019 - June 2019</h3>
            <ul class="card-text light-text">
                <li>
                    Collaborated with other students to paint BASE High School
                </li>
            </ul>
        </div>
    </div>

    <!-- Experience 12 -->
    <div class="card semi-dark-cont">
        <div class="card-body">
            <h2 class="card-title imp-text">Student</h2>
            <h3 class="card-subtitle light-text">College Now: STEM Research Academy at City Tech</h3>
            <h3 class="card-subtitle light-text">February 2018 - August 2018</h3>
            <ul class="card-text light-text">
                <li>
                    Conducted research for a variety of scientific fields, including biology and forensics
                </li>
                <li>
                    Developed a cooling system for a mini television project with a college student using Arduino and Raspberry Pi
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
