{% extends 'main.html' %}

{% block content %}
<h1 class="title imp-text">CONTACT</h1>

<!-- 
HELPFUL RESOURCE(S):
https://www.flaticon.com/
https://www.w3docs.com/snippets/html/how-to-create-mailto-links.html
-->
<div class="container">
    <div class="row">
        <!-- LinkedIn -->
        <div class="col-md-3 col-12 d-flex align-items-center justify-content-center">
            <a href="https://www.linkedin.com/in/talikebennett/" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/3536/3536569.png" alt="linkedin" class="popout-icon">
            </a>
        </div>

        <!-- GitHub -->
        <div class="col-md-3 col-12 d-flex align-items-center justify-content-center">
            <a href="https://github.com/TahBee03" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="github" class="popout-icon">
            </a>
        </div>

        <!-- Discord -->
        <div class="col-md-3 col-12 d-flex align-items-center justify-content-center text-center">
            <div>
                <img src="https://cdn-icons-png.flaticon.com/512/5968/5968759.png" alt="discord" class="reveal-icon">
                <p class="dark-text" id="discord-text">TDB #8730</p>
            </div>
        </div>

        <!-- Instagram -->
        <div class="col-md-3 col-12 d-flex align-items-center justify-content-center">
            <a href="https://www.instagram.com/boy_dejoi/" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/87/87390.png" alt="instagram" class="popout-icon">
            </a>
        </div>
    </div>
    <script>
        // Apply appropriate classes to images and text on Contact page on page load
        if(sessionStorage.mode == "light") {
            for(let item of document.querySelectorAll(".popout-icon, .reveal-icon")) {
                item.style.removeProperty("filter");
            }
            document.getElementById("discord-text").classList.replace("light-text", "dark-text");
        } else {
            for(let item of document.querySelectorAll(".popout-icon, .reveal-icon")) {
                item.style.filter = "invert(100%)";
            }
            document.getElementById("discord-text").classList.replace("dark-text", "light-text");
        }
    </script>
</div>
{% endblock %}