{% extends 'main.html' %}

{% block content %}
<h1 class="title imp-text">TALIKE BENNETT</h1>

<div class="container">
    <!-- Block linking to About Me page -->
    <div class="row semi-dark-cont">
        <div class="col-6">
            <a class="div-link d-flex align-items-center" href="{{ url_for('about_me') }}">
                <div class="link-text light-text">
                    <h2>ABOUT ME</h2>
                    <p>Click this to go to the About Me page</p>
                </div>
            </a>
        </div>
        <div class="col-6 d-flex align-items-center">
            <img class="img-fluid" id="talike1" src="/static/img/talike1.jpg">
        </div>
    </div>

    <!-- Block linking to Projects page -->
    <div class="row semi-dark-cont">
        <div class="col-6 d-flex align-items-center">
            <img class="img-fluid" src="/static/img/itz.png" id="project-img">
        </div>
        <div class="col-6">
            <a class="div-link d-flex align-items-center" href="{{ url_for('projects') }}">
                <div class="link-text light-text">
                    <h2>PROJECTS</h2>
                    <p>Click this to go to the Projects page</p>
                </div>
            </a>
        </div>
    </div>

    <!-- Block linking to Mini Comics page -->
    <div class="row semi-dark-cont">
        <div class="col-6">
            <a class="div-link d-flex align-items-center" href="{{ url_for('mc') }}">
                <div class="link-text light-text">
                    <h2>COMICS</h2>
                    <p>Click this to go to the Comics page</p>
                </div>
            </a>
        </div>
        <div class="col-6 d-flex align-items-center" id="mc-div">
            <img class="img-fluid" src="/static/img/tpmc_logo.png" id="mc-img">
        </div>
    </div>
</div>
{% endblock %}