<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-SHXCSW3837"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-SHXCSW3837');
        </script>

        <!-- Default meta tags -->
        <meta charset="UTF-8"/> <!-- Character encoding -->
        <title>{{ title }}</title> <!-- Website tab title -->
        <link rel="icon" href="/static/img/site_icon.ico" type="image/x-icon"/> <!-- Website tab icon -->
        <meta name="description" content="{{ desc }}"/> <!-- Website description -->
        <meta name="viewport" content="width=device-width, initial-scale=1" /> <!-- Key to responsiveness -->

        <!-- Open Graph meta tags -->
        <meta property="og:title" content="{{ title }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ request.url }}" />
        <meta property="og:description" content="{{ desc }}" />
        <meta property="og:image" content="{{ page_img }}"/>

        <!-- Bootstrap CSS -->
        <link 
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" 
            crossorigin="anonymous">

        <link rel="stylesheet" href="/static/styles/main.css"> <!-- Main CSS file -->
        <link rel="stylesheet" href="/static/styles/{{ css }}.css"> <!-- Page-specific CSS file -->
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar sticky-top semi-dark-cont">
            <div class="container-fluid">
                <a href="{{ url_for('home') }}" class="nav-text home">Talike's Portfolio</a>

                <nav class="nav" id="links">
                    <a href="{{ url_for('about_me') }}" class="nav-text l1">About Me</a>
                    <a href="{{ url_for('mc') }}" class="nav-text l2">Mini Comics</a>
                    <a href="{{ url_for('projects') }}" class="nav-text l3">Projects</a>
                    <a href="{{ url_for('contact') }}" class="nav-text l4">Contact</a>
                </nav>

                <div class="dropstart" id="dropdown">
                    <a class="btn dropdown-toggle light-text semi-dark-cont" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>

                    <ul class="dropdown-menu semi-dark-cont">
                        <li><a href="{{ url_for('about_me') }}" class="nav-text l1">About Me</a></li>
                        <li><a href="{{ url_for('mc') }}" class="nav-text l2">Mini Comics</a></li>
                        <li><a href="{{ url_for('projects') }}" class="nav-text l3">Projects</a></li>
                        <li><a href="{{ url_for('contact') }}" class="nav-text l4">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        {% block content %}{% endblock %}

        <!-- Bootstrap JS + Popper -->
        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" 
            crossorigin="anonymous">
        </script>

        <script src="/static/js/main.js"></script> <!-- Main JS file -->
        {% if js %}<script src="/static/js/{{ js }}.js"></script> <!-- Page-specific JS file -->{% endif %}
    </body>
</html>