{% extends 'main.html' %}

{% block content %}
<h1 class="title imp-text">MINI COMICS</h1>

<div class="container text-center semi-dark-cont">
    <!-- TODO: Try making the comics into stacks -->
    <div class="row">
        <div class="col-lg-4 col-12">
            <!-- MC 1 -->
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#mc-modal" id="mc1-btn" onclick="createModal(1)">
                <img src="/static/img/MC1_1.png" alt="mc1" class="comic">
            </button>
        </div>
        <div class="col-lg-4 col-12">
            <!-- MC 2 -->
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#mc-modal" id="mc2-btn" onclick="createModal(2)">
                <img src="/static/img/MC2_1.png" alt="mc2" class="comic">
            </button>
        </div>
        <div class="col-lg-4 col-12">
            <!-- MC 3 -->
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#mc-modal" id="mc3-btn" onclick="createModal(3)">
                <img src="/static/img/MC3_1.png" alt="mc3" class="comic">
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-12">
            <!-- MC 4 -->
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#mc-modal" id="mc4-btn" onclick="createModal(4)">
                <img src="/static/img/MC4_1.png" alt="mc4" class="comic">
            </button>
        </div>
        <div class="col-lg-4 col-12">
            <!-- MC 5 -->
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#mc-modal" id="mc5-btn" onclick="createModal(5)">
                <img src="/static/img/MC5_1.png" alt="mc5" class="comic">
            </button>
        </div>
        <div class="col-lg-4 col-12">
            <!-- MC 6 -->
        </div>
    </div>
</div>

<!-- 
HELPFUL RESOURCE(S):
Modal (w3schools): https://www.w3schools.com/bootstrap5/bootstrap_modal.php
Carousel (w3schools): https://www.w3schools.com/bootstrap5/bootstrap_carousel.php
-->

<!-- MC Modal -->
<div class="modal fade" id="mc-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body semi-dark-cont">
                <!-- MC Carousel -->
                <div class="carousel slide" id="mc-carousel" data-bs-ride="carousel">
                    <!-- Carousel indicators -->
                    <div class="carousel-indicators" id="indicators">
                        <!-- NOTE: Insert indicators here with JS -->
                    </div>

                    <!-- Carousel images -->
                    <div class="carousel-inner" id="images">
                        <!-- NOTE: Insert images here with JS -->
                    </div>
                
                    <!-- Carousel left/right icons -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#mc-carousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#mc-carousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}