{% extends 'main.html' %}

{% block content %}
<h1 class="title imp-text">PROJECTS</h1>

<div class="container">
    <p class="blurb dark-text" id="projects-blurb">
        Below is a list of select exemplary projects I have worked on so far. Each project's name contains a link to each respective project if you would like to 
        view them.
    </p>
    <script>
        // Apply appropriate class to blurb on page load
        if (sessionStorage.mode == "light") document.getElementById("projects-blurb").classList.replace("light-text", "dark-text");
        else document.getElementById("projects-blurb").classList.replace("dark-text", "light-text");
    </script>
</div>
<div class="container">
    <!-- Senior Design Project? -->
    
    <!-- CSC 456 Project? -->

    <!-- Project 7: GameRank -->
    <div class="card semi-dark-cont">
        <div class="row">
            <div class="col-md-3 col-12 d-flex align-items-center">
                <img src="/static/img/gamerank_icon.png" class="img-fluid">
            </div>
            <div class="col-md-9 col-12">
                <div class="card-body">
                    <a class="prj-link" href="https://gamerank-oo3b.onrender.com/" target="_blank">
                        <h2 class="card-title imp-text">GameRank</h2>
                    </a>
                    <h3 class="card-subtitle light-text">2023 - 2024</h3>
                    <p class="card-text light-text">
                        Worked in a team of 4 in the CUNY Tech Prep program to create a web app 
                        where users can review video games
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Project 6: Swiftree -->
    <div class="card semi-dark-cont">
        <div class="row">
            <div class="col-md-3 col-12 d-flex align-items-center">
                <img src="/static/img/swiftree_logo.png" class="img-fluid">
            </div>
            <div class="col-md-9 col-12">
                <div class="card-body">
                    <a class="prj-link" href="https://swiftree.vercel.app/" target="_blank">
                        <h2 class="card-title imp-text">Swiftree</h2>
                    </a>
                    <h3 class="card-subtitle light-text">2023 - 2024</h3>
                    <p class="card-text light-text">
                        A MERN social media app that breaks away from the traditional scrolling mechanism by
                        displaying posts as trees
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- CSC 318 Project? -->

    <!-- CSC 473 Project? -->

    <!-- Project 5: Into the Zenith -->
    <div class="card semi-dark-cont">
        <div class="row">
            <div class="col-md-3 col-12 d-flex align-items-center">
                <img src="/static/img/itz.png" class="img-fluid" style="width: 100%">
            </div>
            <div class="col-md-9 col-12">
                <div class="card-body">
                    <a class="prj-link" href="https://github.com/aPixelPerfectionist/Space-Game" target="_blank">
                        <h2 class="card-title imp-text">Into the Zenith</h2>
                    </a>
                    <h3 class="card-subtitle light-text">2023</h3>
                    <p class="card-text light-text">
                        Worked with a team in a Game Studio course at the City College of New York to 
                        create a roguelite shoot 'em up space game using Unity
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- CSC 322 Project? -->

    <!-- Project 4: MLH Portfolio Site -->
    <div class="card semi-dark-cont">
        <div class="row">
            <div class="col-md-3 col-12 d-flex align-items-center">
                <img src="/static/img/mlh_portfolio.png" class="img-fluid">
            </div>
            <div class="col-md-9 col-12">
                <div class="card-body">
                    <a class="prj-link" href="https://tdbportfolio-mlh.herokuapp.com/" target="_blank">
                        <h2 class="card-title imp-text">MLH Portfolio Site</h2>
                    </a>
                    <h3 class="card-subtitle light-text">2022</h3>
                    <p class="card-text light-text">
                        Made use of tools like Flask, HTML, and CSS in order to develop and deploy a
                        functional portfolio app for the Major League Hacking Fellowship
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- ASCII RPG? -->
    

    <!-- CSC 221 Project? -->

    <!-- Project 3: Number Converter -->
    <div class="card semi-dark-cont">
        <div class="row">
            <div class="col-md-3 col-12 d-flex align-items-center">
                <img src="/static/img/num_conv.png" class="img-fluid">
            </div>
            <div class="col-md-9 col-12">
                <div class="card-body">
                    <a class="prj-link" href="https://github.com/tahbee03/num-conv" target="_blank">
                        <h2 class="card-title imp-text">Number Converter</h2>
                    </a>
                    <h3 class="card-subtitle light-text">2021 - 2022</h3>
                    <p class="card-text light-text">
                        Extension of a project done for class at the City College of New York that 
                        takes a number from one number system and converts it to another
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Project 2: Catch the Ball! -->
    <div class="card semi-dark-cont">
        <div class="row">
            <div class="col-md-3 col-12 d-flex align-items-center">
                <img src="/static/img/catch_the_ball.png" class="img-fluid">
            </div>
            <div class="col-md-9 col-12">
                <div class="card-body">
                    <a class="prj-link" href="https://scratch.mit.edu/projects/470332519/fullscreen/" target="_blank">
                        <h2 class="card-title imp-text">Catch the Ball!</h2>
                    </a>
                    <h3 class="card-subtitle light-text">2021</h3>
                    <p class="card-text light-text">
                        "Falling ball" game created on Scratch where the player needs to use the arrow
                        keys to have their character catch as many balls as possible
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Project 1: Animal Pop -->
    <div class="card semi-dark-cont">
        <div class="row">
            <div class="col-md-3 col-12 d-flex align-items-center">
                <img src="/static/img/animal_pop.png" class="img-fluid" style="width: 100%">
            </div>
            <div class="col-md-9 col-12">
                <div class="card-body">
                    <a class="prj-link" href="https://studio.code.org/projects/gamelab/1lPWQFj5I4h1kv6crHQwNSDsf5EbfmVYDUST-F6Hn5A" target="_blank">
                        <h2 class="card-title imp-text">Animal Pop</h2>
                    </a>
                    <h3 class="card-subtitle light-text">2017 - 2018</h3>
                    <p class="card-text light-text">
                        Small JS game created on code.org for a Computer Science course taken at
                        the Brooklyn Academy of Science and the Environment
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- STEM Research Academy Project? -->
</div>
{% endblock %}