{% extends 'main.html' %}

{% block head %}
<link rel="stylesheet" href="/static/styles/projects.css"> <!-- CSS file for Projects page -->
{% endblock %}

{% block content %}
<h1 class="title">PROJECTS</h1>

<div class="container">
    <!-- Project 1 -->
    <div class="card">
        <div class="card-body">
            <a class="prj-link" href="https://github.com/tahbee03/MLH-portfolio-site" target="_blank">
                <h2 class="card-title">MLH Portfolio Site</h2>
            </a>
            <h3 class="card-subtitle">2022</h3>
            <p class="card-text light-text">
                Made use of tools like Flask, HTML, and CSS in order to develop and deploy a
                functional portfolio app
            </p>
        </div>
    </div>

    <!-- Project 2 -->
    <div class="card">
        <div class="card-body">
            <a class="prj-link" href="https://github.com/tahbee03/ascii-rpg" target="_blank">
                <h2 class="card-title">ASCII RPG</h2>
            </a>
            <h3 class="card-subtitle">2022</h3>
            <p class="card-text light-text">
                A basic Android game where the player must navigate their character across
                the map for as long as possible
            </p>
        </div>
    </div>

    <!-- Project 3 -->
    <div class="card">
        <div class="card-body">
            <a class="prj-link" href="https://github.com/nordaxion/Android-Budgeting-App" target="_blank">
                <h2 class="card-title">Android Budgeting App</h2>
            </a>
            <h3 class="card-subtitle">2022</h3>
            <p class="card-text light-text">
                Worked with a small group for a Software Design course at the City College of
                New York to create an Android app that allows users to manage their income and
                expenses
            </p>
        </div>
    </div>

    <!-- Project 4 -->
    <div class="card">
        <div class="card-body">
            <a class="prj-link" href="https://github.com/tahbee03/num-conv" target="_blank">
                <h2 class="card-title">Number Converter</h2>
            </a>
            <h3 class="card-subtitle">2021 - 2022</h3>
            <p class="card-text light-text">
                Extension of a project done for class that takes a number from one number system
                and converts it to another
            </p>
        </div>
    </div>

    <!-- Project 5 -->
    <div class="card">
        <div class="card-body">
            <a class="prj-link" href="https://scratch.mit.edu/projects/470332519/fullscreen/" target="_blank">
                <h2 class="card-title">Catch the Ball!</h2>
            </a>
            <h3 class="card-subtitle">2021</h3>
            <p class="card-text light-text">
                "Falling ball" game created on Scratch where the player needs to use the arrow
                keys to have their character catch as many balls as possible
            </p>
        </div>
    </div>

    <!-- Project 6 -->
    <div class="card">
        <div class="card-body">
            <a class="prj-link" href="https://studio.code.org/projects/gamelab/1lPWQFj5I4h1kv6crHQwNSDsf5EbfmVYDUST-F6Hn5A" target="_blank">
                <h2 class="card-title">Animal Pop</h2>
            </a>
            <h3 class="card-subtitle">2017 - 2018</h3>
            <p class="card-text light-text">
                Small JS game created on code.org for a Computer Science course taken in Brooklyn
                Academy of Science and the Environment
            </p>
        </div>
    </div>
</div>

<script src="/static/js/projects.js"></script> <!-- JS file for Projects page -->
{% endblock %}