/* Bio */
#bio-pic {
    border-radius: 50%;
    box-shadow: 0 10px 10px 0 black; /* h-offset, v-offset, blur, spread, color */
    transition: 0.5s;
    cursor: pointer;
}

.rotated-image {
    transform: scale(1.1) rotateY(90deg);
}

.social-media-icons > a {
    margin-top: 20px;
    display: inline-block;
    transition: 0.3s;
}

.social-media-icons > a:hover {
    transform: scale(1.2);
}

.social-media-icons > a > img {
    width: 50px;
}

#linked-in-icon {
    margin-right: 10px;
}

#github-icon {
    margin-left: 10px;
}

#bio-desc {
    margin: 0px;
    transition: 0.5s;
}

.bio-sec {
    padding: 20px;
    flex-direction: column;
}
/*******/

/* Education + experiences */
.card, .expanded-card {
    width: 85%;
    display: block;
    margin: 30px auto 30px auto;
    padding: 25px;
    border-radius: 0.375rem;
    box-shadow: 0 5px 5px 0 black; /* h-offset, v-offset, blur, spread, color */

    transition: 0.5s;
    opacity: 0;
    transform: translateY(50px);
}

.expanded-card {
    border: 1px solid black;
}

/* Required for fade-in animation */
.in-view {
    opacity: 1;
    transform: translateY(0px);
}

.hide {
    display: none;
}

.card-title {
    margin-bottom: 10px;
    transition: 0.25s;
    width: fit-content; /* Needed so that text shrinks on itself rather than towards the center */
}

.card-title.school-link > a {
    color: #CC0000;
    text-decoration: none;
}

.card-title.school-link:hover {
    transform: scale(0.9);
}

.card-subtitle {
    font-style: italic;
}

.card-text {
    margin-top: 10px;
    padding: auto;
}

.section > .row {
    cursor: pointer;
    align-items: center;
}

.section-heading {
    margin: 0;
}

/* ex(pand) col(lapse) icon */
.excol {
    filter: invert(100%);
    transition: 0.5s;
}
/***************************/

/* Skills */
#skills-cont {
    text-align: center;
}

#skills-cont > .section-heading {
    margin-bottom: 25px;
}

.skill {
    color: #ebebeb;
    background-color: #1f1f1f;
    border-radius: 10px;
    padding: 15px;
    display: inline-block;
    box-shadow: 0 5px 5px 0 black;
}
/**********/