/* Bio */
#bio {
    margin-top: 75px;
    margin-bottom: 75px;
}

#bio-pic {
    max-width: 60%;
    border-radius: 50%;
    box-shadow: 0 10px 10px 0 black; /* h-offset, v-offset, blur, spread, color */
    transition: 0.5s;
}

.rotated-image {
    transform: scale(1.1) rotateY(90deg);
}

#bio-desc {
    padding: 25px;
    margin: 0px;
}

.bio-sec {
    padding: 10px;
}
/*******/

/* Education + experiences */
.card {
    width: 85%;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 25px;
    box-shadow: 0 5px 5px 0 black; /* h-offset, v-offset, blur, spread, color */

    transition: 0.5s;
    opacity: 0;
    transform: translateY(50px);
}

/* Required for fade-in animation */
.in-view {
    opacity: 1;
    transform: translateY(0px);
}

.card-title {
    margin-bottom: 10px;
    font-size: 35px;
    transition: 0.25s;
    width: fit-content; /* Needed so that text shrinks on itself rather than towards the center */
}

.school-link {
    text-decoration: none;
}

.school-link:hover > .card-title {
    transform: scale(0.9);
}

.card-subtitle {
    font-style: italic;
    font-size: 25px;
}

.card-text {
    margin-top: 10px;
    padding: auto;
}

hr {
    border-width: 5px;
    border-color: #201335;
    width: 85%;
    margin: auto;
}
/***************************/