.row {
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 5px 0 black; /* h-offset, v-offset, blur, spread, color */

    transition: 0.5s;
    opacity: 0;
    transform: translateY(50px);
}

/* Required for fade-in animation */
.in-view {
    opacity: 1;
    transform: translateY(0px);
}

.col-6 {
    padding: 0px;
    height: 300px;
}

.div-link {
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.link-text {
    transition: 0.3s;
    padding-left: 25px;
    padding-right: 25px;
}

.div-link:hover > .link-text {
    transform: scale(0.9);
}

.img-fluid {
    border-radius: 20px;
}

/* ...since img-fluid is not working properly for this image */
#project-img {
    width: 100%;
}