.container.semi-dark-cont {
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
    box-shadow: 0 5px 5px 0 black; /* h-offset, v-offset, blur, spread, color */
}

.col-lg-4.col-12 {
    padding: 15px;
}

.comic {
    transition: 0.3s;
    max-width: 75%;
    border-radius: 10px;
    box-shadow: 0 5px 5px 0 black; /* h-offset, v-offset, blur, spread, color */
}

.btn:hover > .comic {
    transform: scale(1.1);
}

.btn {
    border-width: 0px;
    padding: 0px;
}

.caption {
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-dialog {
    width: 100%;
    height: 100%;
    margin: auto;
}

.modal-content, .modal-body {
    border-radius: 10px;
}

.modal-content {
    margin: auto;
}

.carousel-inner img {
    margin: auto;
    border-radius: 10px;
}

.modal-arrow {
    background-color: black;
    width: 3rem;
    height: 5rem;
}

.other {
    border-radius: 10px;
    background-color: gray;
    text-decoration: none;
    max-width: 75%;
    height: 100%;
    box-shadow: 0 5px 5px 0 black; /* h-offset, v-offset, blur, spread, color */
}

.other div {
    padding: 15px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.other p {
    color: black;
    margin: 0;
}

.other img {
    max-width: 25%;
}

.other * {
    transition: 0.3s;
}

.other:hover * {
    transform: scale(1.1);
}