.container {
    background-color: #201335;
    border-radius: 15px;
    margin-bottom: 25px;
}

.row, .col-lg-4, .col-12 {
    padding: 15px;
}

.comic {
    transition: 0.3s;
    max-width: 75%;
    border-radius: 15px;
}

.comic:hover {
    transform: scale(1.25);
}

.btn {
    border-width: 0px;
    padding: 0px;
}

.modal-body {
    background-color: #4f4789;
}

.carousel-inner img {
    margin: auto;
    padding-left: 75px;
    padding-right: 75px;
}