.container {
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
    box-shadow: 0 5px 5px 0 black; /* h-offset, v-offset, blur, spread, color */
}

.col-lg-4.col-12 {
    padding: 15px;
}

.comic {
    transition: 0.3s;
    max-width: 75%;
    border-radius: 10px;
    box-shadow: 0 5px 5px 0 black; /* h-offset, v-offset, blur, spread, color */
}

.btn:hover > .comic {
    transform: scale(1.1);
}

.btn {
    border-width: 0px;
    padding: 0px;
}

.modal-content, .modal-body {
    border-radius: 10px;
}

.carousel-inner img {
    margin: auto;
    border-radius: 10px;
}

.modal-dialog {
    max-width: 50%;
}

.modal-arrow {
    background-color: black;
    width: 3rem;
    height: 5rem;
}