.card {
    width: 85%;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 25px;
    box-shadow: 0 5px 5px 0 black; /* h-offset, v-offset, blur, spread, color */

    transition: 0.5s;
    opacity: 0;
    transform: translateY(50px);
}

/* Required for fade-in animation */
.in-view {
    opacity: 1;
    transform: translateY(0px);
}

.card-title {
    font-size: 35px;
    transition: 0.25s;
    width: fit-content; /* Needed so that text shrinks on itself rather than towards the center */
}

.card-subtitle {
    font-style: italic;
    font-size: 25px;
}

.card-text {
    margin-top: 10px;
    padding: auto;
}

.prj-link {
    text-decoration: none;
    display: inline-block; /* Shrink to fit child content so link isn't spread across entire div */
}

.prj-link:hover > .card-title {
    transform: scale(0.9);
}

.img-fluid {
    border-radius: 10px;
}
