{% extends 'index.html' %}

{% block head %}
<link rel="stylesheet" href="/static/styles/about_me.css">
{% endblock %}

{% block content %}
<h1 class="title">ABOUT ME</h1>

<div class="container" id="bio">
    <div class="row">
        <div class="col-6">
            <img src="/static/img/talike1.jpg" alt="talike" class="img-fluid" id="pfp">
        </div>
        <div class="col-6 text-start d-flex align-items-center">
            <p>
                Hello! My name is Talike (pronounced tah-leek), and I am working towards being a full-stack software 
                engineer. I have dreamed of being a video game developer for years now, but I have decided to work more 
                towards creating software for both mobile devices and computers. I have experience with a handful of 
                programming languages including C++ and Python. I hope to use these languages (as well as the ones I will 
                learn in the future) and my problem-solving skills to create and/or improve software that users will find 
                efficient, visually appealing, and — if applicable — entertaining to engage with.
            </p> 
        </div>
    </div>
</div>

<div class="container">
    <!-- TODO: Once database is set up, find a way to store experiences into a table and fetch the content here. -->
    <div class="card">
        <div class="row">
            <div class="col-md-3 col-12 d-flex align-items-center justify-content-center">
                <img src="/static/img/placeholder.jpg" class="img-fluid" alt="exp1">
            </div>
            <div class="col-md-9 col-12 text-start d-flex align-items-center">
                <div class="card-body">
                    <h2 class="card-title">Desktop Support College Assistant</h2>
                    <h3 class="card-subtitle">The City College of New York</h3>
                    <h3 class="card-subtitle">September 2022 - Present</h3>
                    <ul class="card-text">
                        <li>
                            Working in a team of seven to provide digital solutions to clients in the Marshak and CDI buildings
                        </li>
                        <li>
                            Maintaining select Windows, Linux, and MacOS systems across campus by installing/updating useful software, 
                            setting up desktops, and imaging computers whenever necessary
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-md-3 col-12 d-flex align-items-center justify-content-center">
                <img src="/static/img/placeholder.jpg" class="img-fluid" alt="exp2">
            </div>
            <div class="col-md-9 col-12 text-start d-flex align-items-center">
                <div class="card-body">
                    <h2 class="card-title">Scholarship Recipient / Alumni</h2>
                    <h3 class="card-subtitle">Publicolor</h3>
                    <h3 class="card-subtitle">August 2020 - Present</h3>
                    <ul class="card-text">
                        <li>
                            Receiving gap scholarship towards college tuition
                        </li>
                        <li>
                            Occasionally traveling to sites around New York City to help current Publicolor students paint their schools
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-md-3 col-12 d-flex align-items-center justify-content-center">
                <img src="/static/img/placeholder.jpg" class="img-fluid" alt="exp3">
            </div>
            <div class="col-md-9 col-12 text-start d-flex align-items-center">
                <div class="card-body">
                    <h2 class="card-title">Web Developer</h2>
                    <h3 class="card-subtitle">Carella</h3>
                    <h3 class="card-subtitle">October 2022 - November 2022</h3>
                    <ul class="card-text">
                        <li>
                            Used Webflow to develop the website for the organization
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-md-3 col-12 d-flex align-items-center justify-content-center">
                <img src="/static/img/placeholder.jpg" class="img-fluid" alt="exp3">
            </div>
            <div class="col-md-9 col-12 text-start d-flex align-items-center">
                <div class="card-body">
                    <h2 class="card-title">Teaching Assistant</h2>
                    <h3 class="card-subtitle">Upperline Code</h3>
                    <h3 class="card-subtitle">August 2022</h3>
                    <ul class="card-text">
                        <li>
                            Assisted Upperline Code teachers with a web development course centered around HTML, CSS, and JavaScript to 
                            ensure that the students could build their own functional websites
                        </li>
                        <li>
                            Met with other teachers and teaching assistants daily to discuss teaching experiences and ways to improve
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-md-3 col-12 d-flex align-items-center justify-content-center">
                <img src="/static/img/placeholder.jpg" class="img-fluid" alt="exp3">
            </div>
            <div class="col-md-9 col-12 text-start d-flex align-items-center">
                <div class="card-body">
                    <h2 class="card-title">Production Engineering Fellow</h2>
                    <h3 class="card-subtitle">MLH Fellowship</h3>
                    <h3 class="card-subtitle">May 2022 - August 2022</h3>
                    <ul class="card-text">
                        <li>
                            Completed 12 weeks of structured curriculum-based learning covering core Meta Production Engineering topics, 
                            supplemented with events and workshops led by industry experts
                        </li>
                        <li>
                            Created an open-source personal portfolio website using Python, Flask, Jinja, MySQL, and NGINX
                        </li>
                        <li>
                            Automated testing and deployment workflows using CI/CD
                        </li>
                        <li>
                            Set up system and container monitoring, alerting, and visualization using Prometheus and Grafana
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-md-3 col-12 d-flex align-items-center justify-content-center">
                <img src="/static/img/placeholder.jpg" class="img-fluid" alt="exp3">
            </div>
            <div class="col-md-9 col-12 text-start d-flex align-items-center">
                <div class="card-body">
                    <h2 class="card-title">Intern</h2>
                    <h3 class="card-subtitle">UNICC</h3>
                    <h3 class="card-subtitle">January 2022</h3>
                    <ul class="card-text">
                        <li>
                            Conducted and presented extensive research in order to learn more about the organization and its global impact
                        </li>
                        <li>
                            Analyzed demographic trends with 3 team members by designing compelling infographics using Canva
                        </li>
                        <li>
                            Composed an annual report with a team member by interviewing cybersecurity staff and making use of Microsoft 
                            Office products in order to depict the changes in services provided by the UNICC
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-md-3 col-12 d-flex align-items-center justify-content-center">
                <img src="/static/img/placeholder.jpg" class="img-fluid" alt="exp3">
            </div>
            <div class="col-md-9 col-12 text-start d-flex align-items-center">
                <div class="card-body">
                    <h2 class="card-title">Sprintern</h2>
                    <h3 class="card-subtitle">Break Through Tech</h3>
                    <h3 class="card-subtitle">October 2021 - January 2022</h3>
                    <ul class="card-text">
                        <li>
                            Attended professional development workshops, including internship prep and resume building
                        </li>
                        <li>
                            Matched with the United Nations International Computing Centre (UNICC) to work with the organization for 3 
                            weeks in January 2022
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-md-3 col-12 d-flex align-items-center justify-content-center">
                <img src="/static/img/placeholder.jpg" class="img-fluid" alt="exp3">
            </div>
            <div class="col-md-9 col-12 text-start d-flex align-items-center">
                <div class="card-body">
                    <h2 class="card-title">City Seasonal Aide</h2>
                    <h3 class="card-subtitle">NYC Department of Parks & Recreation</h3>
                    <h3 class="card-subtitle">June 2021 - August 2021</h3>
                    <ul class="card-text">
                        <li>
                            Cooperated with a crew of 3-5 workers to clean select parks in Queens, NY
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-md-3 col-12 d-flex align-items-center justify-content-center">
                <img src="/static/img/placeholder.jpg" class="img-fluid" alt="exp3">
            </div>
            <div class="col-md-9 col-12 text-start d-flex align-items-center">
                <div class="card-body">
                    <h2 class="card-title">Summer Design Studio Student</h2>
                    <h3 class="card-subtitle">Publicolor</h3>
                    <h3 class="card-subtitle">July 2020 - August 2020</h3>
                    <ul class="card-text">
                        <li>
                            Designed compelling projects with a team of Publicolor students using Gravit and graphic design concepts
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-md-3 col-12 d-flex align-items-center justify-content-center">
                <img src="/static/img/placeholder.jpg" class="img-fluid" alt="exp3">
            </div>
            <div class="col-md-9 col-12 text-start d-flex align-items-center">
                <div class="card-body">
                    <h2 class="card-title">Next Steps Student</h2>
                    <h3 class="card-subtitle">Publicolor</h3>
                    <h3 class="card-subtitle">October 2019 - June 2020</h3>
                    <ul class="card-text">
                        <li>
                            Spent the weekends painting schools in Brooklyn, Manhattan, and Queens with other Publicolor students
                        </li>
                        <li>
                            Attended college and career preparation workshops
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-md-3 col-12 d-flex align-items-center justify-content-center">
                <img src="/static/img/placeholder.jpg" class="img-fluid" alt="exp3">
            </div>
            <div class="col-md-9 col-12 text-start d-flex align-items-center">
                <div class="card-body">
                    <h2 class="card-title">Paint Club Student</h2>
                    <h3 class="card-subtitle">Publicolor</h3>
                    <h3 class="card-subtitle">April 2019 - June 2019</h3>
                    <ul class="card-text">
                        <li>
                            Collaborated with other students to paint BASE High School
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-md-3 col-12 d-flex align-items-center justify-content-center">
                <img src="/static/img/placeholder.jpg" class="img-fluid" alt="exp3">
            </div>
            <div class="col-md-9 col-12 text-start d-flex align-items-center">
                <div class="card-body">
                    <h2 class="card-title">Student</h2>
                    <h3 class="card-subtitle">College Now: STEM Research Academy at City Tech</h3>
                    <h3 class="card-subtitle">February 2018 - August 2018</h3>
                    <ul class="card-text">
                        <li>
                            Conducted research for a variety of scientific fields, including biology and forensics
                        </li>
                        <li>
                            Developed a cooling system for a mini television project with a college student using Arduino and Raspberry Pi
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    /*
    HELPFUL RESOURCES:
    https://codepen.io/bstonedev/pen/MWWZgKz
    https://www.w3schools.com/jsref/met_document_addeventlistener.asp
    https://www.w3schools.com/jsref/met_element_getboundingclientrect.asp
    https://www.w3schools.com/jsref/prop_win_innerheight.asp
    https://www.w3schools.com/jsref/prop_element_classlist.asp
    */
    let elements = document.querySelectorAll(".card");
    window.addEventListener('scroll', () => {
        for(var i = 0; i < elements.length; i++) {
            var elem = elements[i];
            var dist = elem.getBoundingClientRect().top - window.innerHeight + 50;

            if(dist < 0) elem.classList.add("in-view");
            else elem.classList.remove("in-view");
        }
    });
</script>
{% endblock %}
