<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="description" content="This website is a portfolio of work done by Talike Bennett"/>
        <link rel="stylesheet" href="/static/styles/main.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Manrope">
        <title>Talike's Portfolio</title>
    </head>
    <body>
        <div class="nav-bar">
            <div class="left-bar">
                <p><b>Talike's Portfolio</b></p>
            </div>
            <div class="right-bar">
                <p>
                    <!-- TODO: Create HTML files for the other pages and link them here. -->
                    <a href="" class="link l1">About Me</a> |
                    <a href="" class="link l2">Mini Comics</a> |
                    <a href="" class="link l3">Projects</a> |
                    <a href="" class="link l4">Art</a> |
                    <a href="" class="link l5">Contact</a>
                </p>
            </div>
        </div> 
        <h1 class="title">TALIKE</h1>
        <img src="/static/img/code_pfp.png" alt="pfp">
        <!-- TODO: Replace the single image with a carousel of images. -->
    </body>
</html>
