{% extends 'index.html' %}

{% block head %}
<link rel="stylesheet" href="/static/styles/home.css">
{% endblock %}

{% block content %}
<h1 class="title">TALIKE BENNETT</h1>

<div class="container">
    <div class="row dark-block">
        <div class="col-6 d-flex align-items-center">
            <a class="div-link-left" href="{{ url_for('about_me') }}">
                <div>
                    <h2>ABOUT ME</h2>
                    <p>Click this to go to the About Me page.</p>
                </div>
            </a>
        </div>
        <div class="col-6 d-flex align-items-center">
            <img class="img-fluid" src="/static/img/talike1.jpg">
        </div>
    </div>
    <div class="row light-block">
        <div class="col-6 d-flex align-items-center">
            <img class="img-fluid" src="/static/img/MC1_1.png">
        </div>
        <div class="dark-text col-6 d-flex align-items-center">
            <a class="div-link-right" href="{{ url_for('mc') }}">
                <div>
                    <h2>MINI COMICS</h2>
                    <p>Click this to go to the Mini Comics page.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="row dark-block">
        <div class="light-text col-6 d-flex align-items-center">
            <a class="div-link-left" href="{{ url_for('projects') }}">
                <div>
                    <h2>PROJECTS</h2>
                    <p>Click this to go to the Projects page.</p>
                </div>
            </a>
        </div>
        <div class="col-6 d-flex align-items-center">
            <img class="img-fluid" src="/static/img/code_pfp.png">
        </div>
    </div>
    <div class="row light-block">
        <div class="col-6 d-flex">
            <img src="/static/img/phone.png" id="contact-img">
        </div>
        <div class="dark-text col-6 d-flex align-items-center">
            <a class="div-link-right" href="{{ url_for('contact') }}">
                <div>
                    <h2>CONTACT</h2>
                    <p>Click this to go to the Contact page.</p>
                </div>
            </a>
        </div>
    </div>
</div>

<script src="/static/js/home.js"></script>
{% endblock %}