<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="description" content="This website is a portfolio of work done by Talike Bennett"/>
        <link rel="stylesheet" href="/static/styles/main.css">
        <title>Talike's Portfolio</title>
    </head>
    <body>
        <div>
            <h1>Talike's Portfolio</h1>
        </div>
        <nav>
            <a href="">About Me</a> |
            <a href="">Mini Comics</a> |
            <a href="">Projects</a> |
            <a href="">Art</a> |
            <a href="">Contact</a>
        </nav>
        <img src="/static/img/code_pfp.png" alt="pfp">
    </body>
</html>