<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="description" content="This website is a portfolio of work done by Talike Bennett"/>
        <title>Talike's Portfolio</title>
        <link rel='icon' href='/static/img/code_pfp_circ.png' type='image/x-icon'/>

        <!-- Bootstrap CSS -->
        <link 
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" 
            crossorigin="anonymous"
        >

        <link rel="stylesheet" href="/static/styles/main.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Manrope">
        {% block head %}{% endblock %}
    </head>
    <body>
        <!-- TODO: Figure out how to implement the collapse button thingy AND keep the nav content 
        on the right -->
        <nav class="navbar sticky-top">
            <div class="container-fluid">
                <a href="{{ url_for('home') }}" class="nav-text home">Talike's Portfolio</a>
                <nav class="nav">
                    <a href="{{ url_for('about_me') }}" class="nav-text l1">About Me</a>
                    <a href="{{ url_for('mc') }}" class="nav-text l2">Mini Comics</a>
                    <a href="{{ url_for('projects') }}" class="nav-text l3">Projects</a>
                    <a href="{{ url_for('art') }}" class="nav-text l4">Art</a>
                    <a href="{{ url_for('contact') }}" class="nav-text l5">Contact</a>
                </nav>
            </div>
        </nav>
        {% block content %}{% endblock %}

        <!-- Bootstrap JS + Popper -->
        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" 
            crossorigin="anonymous">
        </script>
    </body>
</html>